<!DOCTYPE html />
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="../css/itops.css" />
    <title>Change Management</title>
</head>
<body>
    <div class="container-fluid">
    <!--logo-->
        <div class="row" style="border-bottom: 1px solid #00357E">
            <div class="col-sm-10" style="background-color: #C0DBFF; height: 100px">
                &nbsp;
            </div>
            <div class="col-sm-2" style="background-color: #C0DBFF">
                <img alt="logo" width="200px" height="100px" src="../images/AAAlogo.jpg" /></div>
        </div>
    <div class="row">
        <div class="col-sm-3 nav-center">
            <ul id="navigation" class="nav nav-pills nav-stacked">
            </ul>
        </div>
        <div class="col-sm-3 center-screen">
            <button id="btnchgadmin" class="btn btn-primary btnmenu">
                Change Management</button>
           <!-- <button id="btnchglog" class="btn btn-primary btnmenu">
                Change Log</button>-->
            <button id="btnsettings" class="btn btn-primary btnmenu">
                Settings</button>
        </div>
    </div>
    </div>
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/itops.js"></script>
    <script type="text/javascript" src="../js/changemgt.js"></script>
</body>
</html>
