<!DOCTYPE html">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/jquery-ui.min.css">
    <link rel="Stylesheet" type="text/css" href="../css/itops.css" />
    <title>Add Change Request</title>
</head>
<body>
    <div class="container-fluid">
        <!--logo-->
        <div class="row" style="border-bottom: 1px solid #00357E">
            <div class="col-sm-10" style="background-color: #C0DBFF; height: 100px">
                &nbsp;
            </div>
            <div class="col-sm-2" style="background-color: #C0DBFF">
                <img alt="logo" width="200px" height="100px" src="../images/AAAlogo.jpg" /></div>
        </div>
        <div class="row">
         <div class="col-sm-2">
                <a href="itops.html">
                    <h5>
                        Home&nbsp;<span class="glyphicon glyphicon-home"></span></h5>
                </a>
            </div>
            <div class="col-sm-offset-5">
                <ul class="nav nav-pills">
                     
                    <li id="admin"><a href="changeadmin.html">Change Administration</a></li>
                    <li id="request"><a href="changerequest.html">Change Request</a></li>
                    <li id="record"><a href="changerecord.html">Change Record</a></li>
                    <li id="mngrequest"><a href="managerequest.html">Manage Requests</a></li>
                </ul>
            </div>
            <hr />
        </div>
        <div class="row">
            <h3>
                <label class="col-sm-10">
                    Add Change Request #:</label></h3>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="shortdesc">
                    Name / Short Description:</label>
                <input type="text" id="shortdesc" class="form-control" />
            </div>
            <div class="form-group form-inline col-sm-3 col-sm-offset-3">
                <label for="crdate" class="control-label">
                    Create Date:</label>
                <input type="text" id="crdate" class="form-control" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="requestedby" class="control-label">
                    Requested By:</label>
                <select class="form-control" style="width: 100%" id="requestedby">
                </select>
            </div>
            <div class="form-group  col-sm-2 ">
                <label for="source" class="control-label">
                    Source:</label>
                <select class="form-control" id="source">
                </select>
            </div>
            <div class="form-group col-sm-1  ">
                <label for="sourceid" class="control-label">
                    Source Id:</label>
                <input type="text" class="form-control" id="sourceid" />
            </div>
            <div class="form-group form-inline col-sm-3 col-sm-offset-3">
                <label for="crby" class="control-label">
                    Created By:&nbsp;</label>
                <input type="text" id="crby" class="form-control" disabled />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="type">
                    Type:</label>
                <select class="form-control" id="type">
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="requestbydatepicker" class="control-label">
                    Requested By Date</label>
                <div class="input-group ">
                    <input type="text" id="requestbydatepicker" class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="col-sm-3 form-group col-sm-offset-3 ">
                <button id="btnSave" class="btn btn-primary xs-button">
                    Save</button>
                <button class="btn btn-primary xs-button">
                    Exit</button>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="priority">
                    Business Priority:</label>
                <select class="form-control" id="priority">
                </select>
            </div>
            <div class="form-group col-sm-3">
                <label for="status">
                    Status:</label>
                <select class="form-control" id="status">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="buslinecontact">
                    Business Line Contact:</label>
                <select class="form-control" id="Select1">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-3">
                <label for="buslineapprover">
                    Business Line Approver:</label>
                <select class="form-control" id="Select2">
                </select>
            </div>
        </div>
        <div class="row">
            <label for="description" class="col-sm-1">
                Description:</label>
        </div>
        <div class="row">
            <textarea id="description" rows="5" cols="100%" class="col-xs-10 col-sm-6" style="margin-left: 15px;
                margin-bottom: 15px"></textarea>
        </div>
        <div class="row">
            <label for="description" class="col-sm-1">
                Business Case:</label>
        </div>
        <div class="row">
            <textarea id="businesscase" rows="5" cols="100%" class="col-xs-10 col-sm-6" style="margin-left: 15px;
                margin-bottom: 15px"></textarea>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../js/changerequest.js"></script>
    <script type="text/javascript">
        $(function ()
        {
            $("#requestbydatepicker").datepicker();
        });
    </script>
</body>
</html>
