<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="Stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="Stylesheet" type="text/css" href="../css/itops.css" />
    <title>System Availability Tools</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div id="navdiv" class="col-sm-3 nav-center">
                <ul id="navigation" class="nav nav-pills nav-stacked">
                </ul>
            </div>
            <div id="setdiv" class="col-sm-3 center-screen">
                System Availability Tools
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/itops.js"></script>
    <script type="text/javascript" src="../js/systemtools.js"></script>
</body>
</html>
